# Note


* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

# Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

615

# Perform API Calls


* Perform a weather check on each city using a series of successive API calls.

* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [3]:
base_url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

# Build the query URL
query_url = f"{base_url}appid={weather_api_key}&units={units}&q="

In [4]:
#create lists to store the data
city_list = []
lat = []
long = []
country = []
date = []
temperature = []
humidity = []
cloudiness = []

wind_speed = []

count = 0

for city in cities:
    
    
    try:
        response = requests.get(query_url + city).json()
        city_list.append(city)
        lat.append((response['coord']['lat']))
        long.append((response['coord']['lon']))
        country.append(response['sys']['country'])
        date.append(response['dt'])
        temperature.append((response['main']['temp_max']))
        humidity.append((response['main']['humidity']))
        cloudiness.append((response['clouds']['all']))
        wind_speed.append((response['wind']['speed']))
        print(f'City number: {count}. City name: {city}')
        count = count + 1
        
    except:
        print('City not found.')
        
    time.sleep(1)
    
print(f"The total number of city is {len(city_list)}.")

City number: 0. City name: yenotayevka
City number: 1. City name: verkh-usugli
City number: 2. City name: porto santo
City number: 3. City name: sambava
City number: 4. City name: vaini
City number: 5. City name: pangnirtung
City number: 6. City name: yellowknife
City number: 7. City name: srednekolymsk
City number: 8. City name: sal rei
City number: 9. City name: naze
City not found.
City number: 10. City name: ushuaia
City not found.
City number: 11. City name: portland
City number: 12. City name: mataura
City number: 13. City name: ialibu
City number: 14. City name: otane
City number: 15. City name: deputatskiy
City number: 16. City name: bluff
City number: 17. City name: saskylakh
City number: 18. City name: clyde river
City not found.
City number: 19. City name: las vegas
City number: 20. City name: pangody
City number: 21. City name: stromness
City number: 22. City name: hobart
City number: 23. City name: jamestown
City number: 24. City name: punta arenas
City number: 25. City name: umea
City number: 26. City name: hilo
City number: 27. City name: port hardy
City number: 28. City name: qaanaaq
City number: 29. City name: busselton
City not found.
City number: 30. City name: ucluelet
City number: 31. City name: kahului
City number: 32. City name: vila velha
City number: 33. City name: saint-francois
City number: 34. City name: hermanus
City number: 35. City name: tilichiki
City number: 36. City name: kulunda
City number: 37. City name: scottsbluff
City number: 38. City name: dikson
City number: 39. City name: avarua
City number: 40. City name: rikitea
City number: 41. City name: kapaa
City number: 42. City name: saint-philippe
City number: 43. City name: batemans bay
City number: 44. City name: topeka
City number: 45. City name: new norfolk
City number: 46. City name: aden
City number: 47. City name: hamilton
City number: 48. City name: mount darwin
City number: 49. City name: ise
City number: 50. City name: carnarvon
City number: 51. City name: geraldton
City number: 52. City name: north berwick
City number: 53. City name: arraial do cabo
City number: 54. City name: saint george
City number: 55. City name: riyadh
City number: 56. City name: cabo san lucas
City number: 57. City name: ribeira grande
City number: 58. City name: atuona
City number: 59. City name: general roca
City number: 60. City name: east london
City number: 61. City name: kieta
City number: 62. City name: constitucion
City number: 63. City name: hithadhoo
City number: 64. City name: yekaterinovka
City number: 65. City name: sept-iles
City number: 66. City name: tinaquillo
City number: 67. City name: albany
City number: 68. City name: tenkodogo
City number: 69. City name: sao francisco
City number: 70. City name: zhangjiakou
City number: 71. City name: lompoc
City number: 72. City name: mitsamiouli
City number: 73. City name: mabaruma
City number: 74. City name: dumai
City not found.
City number: 75. City name: qandala
City number: 76. City name: nelson bay
City number: 77. City name: dong hoi
City number: 78. City name: mount pleasant
City number: 79. City name: castro
City number: 80. City name: panguipulli
City number: 81. City name: mount isa
City number: 82. City name: nikolayevsk-na-amure
City not found.
City number: 83. City name: port lincoln
City number: 84. City name: port angeles
City number: 85. City name: bambous virieux
City number: 86. City name: khanpur
City number: 87. City name: codrington
City not found.
City number: 88. City name: lodja
City number: 89. City name: bengkulu
City number: 90. City name: babstovo
City number: 91. City name: nikolskoye
City number: 92. City name: nuuk
City number: 93. City name: kodiak
City number: 94. City name: pacific grove
City number: 95. City name: alofi
City number: 96. City name: norman wells
City number: 97. City name: meulaboh
City number: 98. City name: victoria
City number: 99. City name: inskoy
City number: 100. City name: port elizabeth
City number: 101. City name: iqaluit
City number: 102. City name: san vicente
City number: 103. City name: mar del plata
City number: 104. City name: kirakira
City number: 105. City name: fort nelson
City number: 106. City name: dingle
City number: 107. City name: vilhena
City number: 108. City name: san cristobal
City number: 109. City name: beisfjord
City number: 110. City name: olinda
City number: 111. City name: richards bay
City number: 112. City name: nioro
City number: 113. City name: khatanga
City number: 114. City name: longyearbyen
City number: 115. City name: lebu
City number: 116. City name: tiksi
City number: 117. City name: kaitangata
City number: 118. City name: komsomolskiy
City not found.
City number: 119. City name: sur
City number: 120. City name: goderich
City number: 121. City name: iquitos
City number: 122. City name: barrow
City number: 123. City name: hami
City number: 124. City name: sitka
City number: 125. City name: kropotkin
City number: 126. City name: medicine hat
City number: 127. City name: tuatapere
City number: 128. City name: aklavik
City number: 129. City name: thompson
City not found.
City number: 130. City name: mizdah
City number: 131. City name: butaritari
City number: 132. City name: les cayes
City number: 133. City name: touros
City number: 134. City name: la ronge
City number: 135. City name: kolda
City number: 136. City name: irara
City number: 137. City name: sobolevo
City number: 138. City name: tamala
City number: 139. City name: samandag
City number: 140. City name: esperance
City number: 141. City name: bethel
City number: 142. City name: souillac
City number: 143. City name: chicama
City number: 144. City name: ilulissat
City number: 145. City name: kumluca
City not found.
City number: 146. City name: bredasdorp
City number: 147. City name: yar-sale
City number: 148. City name: hasaki
City number: 149. City name: bilma
City number: 150. City name: cape town
City number: 151. City name: kharp
City number: 152. City name: aykhal
City number: 153. City name: san ramon
City number: 154. City name: khandyga
City number: 155. City name: airai
City number: 156. City name: oranjemund
City number: 157. City name: fortuna
City number: 158. City name: chapais
City number: 159. City name: esna
City number: 160. City name: narsaq
City number: 161. City name: tasiilaq
City number: 162. City name: udachnyy
City number: 163. City name: amahai
City number: 164. City name: solnechnyy
City number: 165. City name: sorland
City number: 166. City name: lasa
City number: 167. City name: bangassou
City number: 168. City name: nome
City number: 169. City name: palmer
City number: 170. City name: batticaloa
City number: 171. City name: leningradskiy
City number: 172. City name: kaliua
City number: 173. City name: ahipara
City number: 174. City name: pajapan
City number: 175. City name: clarence town
City number: 176. City name: lorengau
City number: 177. City name: pevek
City number: 178. City name: saldanha
City number: 179. City name: todos santos
City number: 180. City name: ponta do sol
City number: 181. City name: fairbanks
City not found.
City number: 182. City name: belyy yar
City number: 183. City name: port alfred
City number: 184. City name: mareeba
City number: 185. City name: lukovetskiy
City number: 186. City name: conceicao da barra
City number: 187. City name: ondjiva
City number: 188. City name: chuy
City number: 189. City name: dinan
City number: 190. City name: bushehr
City number: 191. City name: arica
City number: 192. City name: johnson city
City number: 193. City name: necochea
City number: 194. City name: yangambi
City number: 195. City name: severobaykalsk
City number: 196. City name: shestakovo
City number: 197. City name: abha
City number: 198. City name: freeport
City number: 199. City name: inhambane
City number: 200. City name: normandin
City number: 201. City name: byron bay
City number: 202. City name: oisterwijk
City number: 203. City name: moengo
City number: 204. City name: beyneu
City number: 205. City name: sungaipenuh
City number: 206. City name: vostok
City number: 207. City name: trelew
City number: 208. City name: kidal
City number: 209. City name: skelleftea
City number: 210. City name: christchurch
City not found.

City number: 211. City name: yulara
City number: 212. City name: northam
City number: 213. City name: aswan
City number: 214. City name: sola
City number: 215. City name: dauphin
City number: 216. City name: mogadishu
City number: 217. City name: salamiyah
City number: 218. City name: quelimane
City number: 219. City name: haverfordwest
City number: 220. City name: douentza
City number: 221. City name: iwaki
City number: 222. City name: tahta
City number: 223. City name: chau doc
City number: 224. City name: artesia
City not found.
City number: 225. City name: san andres del rabanedo
City number: 226. City name: provideniya
City number: 227. City name: severo-kurilsk
City number: 228. City name: horasan
City number: 229. City name: yertarskiy
City number: 230. City name: danilovka
City number: 231. City name: vestmannaeyjar
City number: 232. City name: ancud
City number: 233. City name: kerema
City number: 234. City name: porbandar
City number: 235. City name: georgetown
City number: 236. City name: gamba
City number: 237. City name: puerto carreno
City number: 238. City name: havelock
City number: 239. City name: nanortalik
City number: 240. City name: cilegon
City number: 241. City name: stutterheim
City number: 242. City name: tabas
City number: 243. City name: upernavik
City number: 244. City name: laguna
City number: 245. City name: bahia blanca
City not found.
City number: 246. City name: port blair
City number: 247. City name: malakal
City number: 248. City name: tornio
City number: 249. City name: chokurdakh
City number: 250. City name: innisfail
City number: 251. City name: puerto ayora
City number: 252. City name: la asuncion
City not found.
City number: 253. City name: paamiut
City number: 254. City name: faanui
City number: 255. City name: tacuarembo
City number: 256. City name: prince rupert
City number: 257. City name: muravlenko
City number: 258. City name: kenai
City number: 259. City name: kovdor
City number: 260. City name: vardo
City number: 261. City name: kloulklubed
City number: 262. City name: tlacolula
City number: 263. City name: klaksvik
City number: 264. City name: petatlan
City number: 265. City name: oriximina
City number: 266. City name: lata
City number: 267. City name: saint anthony
City number: 268. City name: muroto
City number: 269. City name: davila
City number: 270. City name: itarema
City not found.
City number: 271. City name: longyan
City number: 272. City name: samana
City number: 273. City name: nzega
City number: 274. City name: russkaya polyana
City number: 275. City name: clovis
City number: 276. City name: barroquinha
City number: 277. City name: guayaramerin
City number: 278. City name: camacupa
City number: 279. City name: bloomfield
City number: 280. City name: beringovskiy
City number: 281. City name: sterling
City number: 282. City name: andenes
City number: 283. City name: iskateley
City number: 284. City name: ixtapa
City number: 285. City name: port hueneme
City number: 286. City name: pavlovka
City number: 287. City name: imbituba
City number: 288. City name: jizan
City number: 289. City name: izumo
City number: 290. City name: itoman
City number: 291. City name: kununurra
City number: 292. City name: cidreira
City number: 293. City name: tessalit
City number: 294. City name: voi
City number: 295. City name: xiuyan
City number: 296. City name: mehamn
City number: 297. City name: padang
City number: 298. City name: mocuba
City number: 299. City name: yeppoon
City number: 300. City name: sovetskoye
City number: 301. City name: white rock
City number: 302. City name: noyabrsk
City number: 303. City name: berbera
City number: 304. City name: puerto madero
City number: 305. City name: bam
City number: 306. City name: asau
City number: 307. City name: panjab
City number: 308. City name: awjilah
City number: 309. City name: matabungkay
City number: 310. City name: ushtobe
City number: 311. City name: idah
City number: 312. City name: joshimath
City number: 313. City name: egvekinot
City number: 314. City name: torbay
City number: 315. City name: qaqortoq
City number: 316. City name: juegang
City number: 317. City name: piacabucu
City number: 318. City name: nizwa
City number: 319. City name: pokhara
City number: 320. City name: doha
City number: 321. City name: vytegra
City number: 322. City name: otradnaya
City number: 323. City name: salalah
City number: 324. City name: simbahan
City number: 325. City name: krasnyy oktyabr
City number: 326. City name: killybegs
City number: 327. City name: pisco
City number: 328. City name: nouadhibou
City number: 329. City name: san jose
City number: 330. City name: lagoa
City number: 331. City name: tuktoyaktuk
City number: 332. City name: vila franca do campo
City number: 333. City name: garowe
City number: 334. City name: warrensburg
City not found.
City number: 335. City name: the valley
City number: 336. City name: shitanjing
City not found.
City number: 337. City name: tyulyachi
City not found.
City number: 338. City name: ciudad bolivar
City number: 339. City name: zyryanovsk
City number: 340. City name: mitchell
City number: 341. City name: zajecar
City number: 342. City name: henties bay
City number: 343. City name: santa fe
City number: 344. City name: presidente epitacio
City number: 345. City name: mahebourg
City number: 346. City name: birao
City number: 347. City name: college
City number: 348. City name: qiongshan
City number: 349. City name: eydhafushi
City number: 350. City name: kruisfontein
City number: 351. City name: esso
City number: 352. City name: borovskoy
City number: 353. City name: dombas
City number: 354. City name: morro bay
City number: 355. City name: bani
City number: 356. City name: tura
City not found.
City number: 357. City name: gravdal
City number: 358. City name: hobyo
City not found.
City number: 359. City name: quatre cocos
City number: 360. City name: puerto escondido
City number: 361. City name: kaeo
City number: 362. City name: plymouth
City number: 363. City name: adria
City number: 364. City name: gondanglegi
City number: 365. City name: vyritsa
City number: 366. City name: port macquarie
City number: 367. City name: jinxiang
City not found.
City not found.
City number: 368. City name: zlitan
City number: 369. City name: lethem
City not found.
City number: 370. City name: wagar
City number: 371. City name: comodoro rivadavia
City number: 372. City name: avera
City number: 373. City name: pontes e lacerda
City number: 374. City name: mandalgovi
City number: 375. City name: mpophomeni
City number: 376. City name: qarqin
City number: 377. City name: eureka
City not found.
City number: 378. City name: tezu
City number: 379. City name: chihuahua
City number: 380. City name: nhulunbuy
City not found.
City number: 381. City name: turukhansk
City not found.
City number: 382. City name: natal
City number: 383. City name: bassila
City number: 384. City name: sangar
City number: 385. City name: haines junction
City number: 386. City name: acworth
City number: 387. City name: taltal
City number: 388. City name: linhai
City number: 389. City name: wad madani
City number: 390. City name: bonavista
City number: 391. City name: sosnovo-ozerskoye
City number: 392. City name: ionia
City number: 393. City name: san juan
City number: 394. City name: huarmey
City number: 395. City name: victor harbor
City not found.
City number: 396. City name: los llanos de aridane
City number: 397. City name: puerto leguizamo
City number: 398. City name: salta
City number: 399. City name: maragogi
City number: 400. City name: dudinka
City number: 401. City name: zaozerne
City number: 402. City name: frontera
City not found.
City number: 403. City name: roald
City number: 404. City name: jumla
City number: 405. City name: plosca
City number: 406. City name: miri
City number: 407. City name: tororo
City number: 408. City name: roma
City number: 409. City name: rabo de peixe
City not found.
City number: 410. City name: sao filipe
City number: 411. City name: pitimbu
City number: 412. City name: zyryanka
City number: 413. City name: kachug
City number: 414. City name: haikou
City number: 415. City name: wenling
City number: 416. City name: bandar-e anzali

City number: 417. City name: cayenne
City number: 418. City name: nueva helvecia
City number: 419. City name: russell
City number: 420. City name: kavieng
City number: 421. City name: chipinge
City number: 422. City name: beloha
City number: 423. City name: alice springs
City number: 424. City name: arman
City number: 425. City name: dilla
City number: 426. City name: moba
City number: 427. City name: lavrentiya
City number: 428. City name: kwale
City number: 429. City name: kampong chhnang
City number: 430. City name: nadym
City number: 431. City name: te anau
City not found.
City number: 432. City name: la paz
City number: 433. City name: panguna
City number: 434. City name: matagami
City number: 435. City name: obera
City number: 436. City name: choma
City number: 437. City name: coquimbo
City not found.
City number: 438. City name: mackay
City number: 439. City name: praia
City number: 440. City name: tigil
City number: 441. City name: carutapera
City number: 442. City name: tinde
City number: 443. City name: okhotsk
City number: 444. City name: ostrovnoy
City number: 445. City name: antofagasta
City number: 446. City name: valley
City number: 447. City name: kavaratti
City not found.
City number: 448. City name: luxor
City number: 449. City name: araouane
City number: 450. City name: hofn
City not found.
City number: 451. City name: arroio grande
City number: 452. City name: tevaitoa
City number: 453. City name: biu
City number: 454. City name: bereda
City number: 455. City name: mulege
City number: 456. City name: pyay
City number: 457. City name: isparta
City not found.
City number: 458. City name: najran
City number: 459. City name: gyonk
City not found.
City number: 460. City name: rio grande
City number: 461. City name: semey
City number: 462. City name: hovd
City number: 463. City name: karasjok
City number: 464. City name: raudeberg
City number: 465. City name: altamira
City not found.
City number: 466. City name: kireka
City number: 467. City name: bathsheba
City number: 468. City name: muswellbrook
City not found.
City number: 469. City name: palana
City number: 470. City name: murgab
City number: 471. City name: taseyevo
City number: 472. City name: spring hill
City number: 473. City name: jiuquan
City number: 474. City name: samarai
City not found.
City number: 475. City name: madingou
City number: 476. City name: carauari
City number: 477. City name: riberalta
City not found.
City number: 478. City name: kuroiso
City number: 479. City name: bonanza
City number: 480. City name: bowen
City number: 481. City name: talnakh
City number: 482. City name: hambantota
City number: 483. City name: opuwo
City number: 484. City name: san ignacio
City not found.
City number: 485. City name: swan river
City number: 486. City name: coahuayana
City number: 487. City name: west helena
City number: 488. City name: ngama
City number: 489. City name: the pas
City number: 490. City name: rumonge
City number: 491. City name: san patricio
City number: 492. City name: lowestoft
City number: 493. City name: guerrero negro
City number: 494. City name: kurilsk
City number: 495. City name: gushikawa
City number: 496. City name: lima
City number: 497. City name: flinders
City number: 498. City name: kalabo
City number: 499. City name: machaneng
City not found.
City number: 500. City name: west bay
City number: 501. City name: chakia
City number: 502. City name: nishihara
City number: 503. City name: acapulco
City number: 504. City name: vestmanna
City number: 505. City name: sonderso
City number: 506. City name: akhmeta
City number: 507. City name: sawtell
City number: 508. City name: kouango
City number: 509. City name: lagos
City number: 510. City name: chimbote
City not found.
City number: 511. City name: taoudenni
City number: 512. City name: chumikan
City number: 513. City name: nagato
City number: 514. City name: vao
City number: 515. City name: berlevag
City number: 516. City name: namatanai
City not found.
City number: 517. City name: wanning
City number: 518. City name: manyana
City not found.
City number: 519. City name: portobelo
City not found.
City number: 520. City name: de-kastri
City number: 521. City name: figeac
City number: 522. City name: les escoumins
City number: 523. City name: kolpny
City number: 524. City name: trelleborg
City number: 525. City name: altay
City number: 526. City name: marrakesh
City number: 527. City name: port-gentil
City number: 528. City name: siderno
City number: 529. City name: mao
City number: 530. City name: baisha
City number: 531. City name: inta
City number: 532. City name: thiruvananthapuram
City number: 533. City name: zhigansk
City number: 534. City name: puro
City number: 535. City name: husavik
City number: 536. City name: olavarria
City number: 537. City name: osmaniye
City number: 538. City name: virginia beach
City number: 539. City name: mitu
City number: 540. City name: sasebo
City number: 541. City name: burnie
City number: 542. City name: vista hermosa
City number: 543. City name: camopi
City number: 544. City name: khor
City number: 545. City name: simpang
City number: 546. City name: saint-georges
City number: 547. City name: ormond beach
City number: 548. City name: yerbogachen
City number: 549. City name: davidson
City number: 550. City name: pochutla
City number: 551. City name: cherskiy
City number: 552. City name: lufilufi
City number: 553. City name: tashla
City number: 554. City name: atar
City number: 555. City name: nova olimpia
City number: 556. City name: pundaguitan
City number: 557. City name: marawi
City not found.
City number: 558. City name: praya
City number: 559. City name: bandarbeyla
City number: 560. City name: reconquista
City number: 561. City name: sao joao da barra
City number: 562. City name: sultanpur
City number: 563. City name: shiraz
City number: 564. City name: netivot
City number: 565. City name: bodaybo
City number: 566. City name: nicoya
City number: 567. City name: berlin
The total number of city is 615.

# Convert Raw Data to DataFrame


* Export the city data into a .csv.

* Display the DataFrame

In [5]:
print(len(city_list))
print(len(lat))
print(len(long))
print(len(temperature))
print(len(humidity))
print(len(cloudiness))
print(len(wind_speed))
print(len(country))
print(len(date))

615
568
568
568
568
568
568
568
568

In [6]:
# create the dataframe 
cities_df = ({
    "City": city,
    "Lat": lat,
    "Lng": long,
    "Max Temp": temperature,
    "Humidity": humidity,
    "Cloudiness": cloudiness,
    "Wind Speed": wind_speed,
    "Country": country,
    "Date": date
})
weather_data = pd.DataFrame(cities_df)
weather_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,berlin,47.2456,47.0281,79.59,33,81,9.10,RU,1660341802
1,berlin,52.7000,115.1667,54.27,81,56,0.85,RU,1660341803
2,berlin,33.0720,-16.3415,70.18,78,20,4.61,PT,1660341804
3,berlin,-14.2667,50.1667,67.71,84,64,9.64,MG,1660341806
4,berlin,-21.2000,-175.2000,72.81,53,91,16.08,TO,1660341807
...,...,...,...,...,...,...,...,...,...
563,berlin,29.6036,52.5388,81.84,12,0,4.61,IR,1660342572
564,berlin,31.4222,34.5886,70.61,66,0,5.46,IL,1660342573
565,berlin,57.8506,114.1933,56.03,89,71,2.06,RU,1660342575
566,berlin,10.1483,-85.4520,75.36,95,100,1.97,CR,1660342576
567,berlin,52.5244,13.4105,74.89,55,0,5.75,DE,1660342491

In [11]:
# export DataFrame to CSV file
weather_data.to_csv("output/weather.csv")

OSError: Cannot save file into a non-existent directory: 'output'

# Inspect the data and remove the cities where the humidity > 100%.


* Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
Int64Index([], dtype='int64')

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

# Plotting the Data


* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.

* Save the plotted figures as .pngs.

# Latitude vs. Temperature Plot

# Latitude vs. Humidity Plot

# Latitude vs. Cloudiness Plot

# Latitude vs. Wind Speed Plot

# Linear Regression

# Northern Hemisphere - Max Temp vs. Latitude Linear Regression

# Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

# Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

# Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

# Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

# Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

# Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression